.sidebar
  .sidebar__upper
    .sidebar__upper__user
      .sidebar__upper__user__name
        masa
      .sidebar__upper__user__icon
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog
  .sidebar__lower
    .sidebar__lower__list
      .sidebar__lower__list__group
        techcamp
      .sidebar__lower__list__message   
        no message 
      .sidebar__lower__list__group
        techcamp
      .sidebar__lower__list__message   
        no message       
      .sidebar__lower__list__group
        techcamp
      .sidebar__lower__list__message   
        no message 