* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  justify-content: left;
}

a{
  color: #ffffff;
  text-decoration: none;
}

.fa{
  margin-left: 5px;
}



.sidebar{
  height: 100vh;
  width: 300px;
  &__upper{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    justify-content: center;
    &__user{
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name{
        width: 200px;     
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
        color: #ffffff;
      }
      &__icon{
        color: #ffffff;
        width: 60px;
        line-height: 20px;
        text-align: right;
      }
    }
  }
  &__lower{
    height: calc(100% - 100px);
    background-color: #2f3e51;
    &__list{
      padding: 20px 20px 0 20px;
      &__group{
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        color: #ffffff;
        font-size: 11px;
        margin-bottom: 40px;
      }
    }
  }
}

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  &__top{
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    &__left{
      margin: 35px 0 0 40px;
      &__group{
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      &__member{
        color: #999999;
        font-size: 12px;
      }
    }
    &__right{
      height: 40px;
      width: 72px;
      margin: 28px 40px 0 0;
      padding: 0 20px 0 20px;
      border: #38aef0 solid 1px;
      display: flex;
      align-items: center;
      cursor: pointer;
      & a{
        color: #38aef0;
      }
    }
  }
  &__midle{
    height: calc(100% - 190px);
    background-color: #fafafa;
    overflow: scroll;
    &__message{
      padding: 35px 0 0 40px;
      &__upper{
        display: flex;
        justify-content: start;
        margin-bottom: 12px;
        &__name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
          margin-right: 10px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
        }
      }
      &__lower{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 11px;
      }
    }
  }
  &__bottom{
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    position: fixed; 
    bottom: 0;
    z-index: 1;
    &__form{
      display: flex;
      &__area{
        height: 50px;
        width: calc(100vw - 495px);
        margin: 0 15px 0 40px;
        background-color: white;
        display: flex;
        &__field{
          height: 50px;
          width: calc(100vw - 495px);
          padding-left: 10px;
          border: none;
        }
        &__icon{
          position: relative;
          top: 14px;
          right: 10px;
          & i{
            font-size: 22px;
            cursor: pointer;
          }
          & input{
            display: none;
          }
        }
      }
      &__btn{
        height: 50px;
        width: 100px;
        color: #ffffff;
        background-color: #38aef0;
        border-width: 2px;
        border-style: outset;
        border-color: #767676;
        margin-right: 40px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        & input{
          color: white;
          background-color: #38aef0;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

}
